*{margin:0;padding: 0;text-decoration: none;}
.header{
    width:40%;
    height: auto;
    margin:0 auto;
    margin-top: 8%;
}
.header h1{text-align: center;padding-bottom: 55px;}
.header label{
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 15%;
}
.in{
    width: 55%;
    height: 32px;
    vertical-align: middle;
    border-radius: 5px;
    padding-left: 5px;
}
.btn{
    width: 80px;
    height:35px;
    border:2px solid #ccc;
    color: #666;
    font-size: 16px;
    margin:60px 0 0 40%;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    background-color: transparent;
}
.btn:hover{
    border:2px solid #999;
}









