*{margin:0;padding: 0}
.wall{
    width:100%;
    height: auto;
    margin:0 auto;
    margin-top: 5%;
}
.right{
    margin-bottom: 20px;
    height: 35px;
    width: 100%;
    float: right;
}
.right form select{
    border-radius: 3px;
    height: 33px;
    float: right
}
.right form input[type="text"]{
    height: 33px;
     float: right;
    width: 30%;
}
.btn{
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 33px;
    float: right;
}
table{
    width:1000px;
    text-align: center;
    margin-left:0px;
}
table caption{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    padding: 15px 0 20px 0;
}
table th{
    text-align: center;
    height: 45px;
    font-weight:bold;
    background-color:#eee;
}
table td{
    height: 40px;
    
}
textarea{
    width: 99%;
    height: 40px;
    border: 0
}
.font{float:right;
      margin-right:90px;
      color:#000;
      background-color:#82C0E9;
      padding:3px 5px;
      border-radius:5px;
      border:2px solid #ccc;
      font-size:14px;}
.page{margin:15% 0 0 38%;}