.header{
    width:85%;
    height: auto;
    margin: 0 auto;
    margin-top:7%;
}
.right{
    width: auto;
    height: 35px;
    float: right;
    margin-bottom: 20px;
}
.right select{
    border-radius: 5px;
    color: #999;
    font-size: 12px;
    height: 20px;
}
.right input{
    height: 20px;
    border-radius: 3px;}
.right a{
    padding: 1px 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #666;
}
.right a:hover{
    text-decoration: none;
}
table{
    text-align: center;
   
}
table caption{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}
table th{
    text-align: center;
    background-color: #eee;
    height: 45px;
}
table td{
    height: 40px;
}
.page{
    margin:15% 0 0 35%;
}
.font{float:right;
      margin-right:90px;
      color:#000;
      background-color:#82C0E9;
      padding:3px 5px;
      border-radius:5px;
      border:2px solid #ccc;
      font-size:14px;
      }