*{margin:0;padding: 0;text-decoration: none;}
.header{
    width: 30%;
    height: auto;
    margin:0 auto;
    margin-top: 5%;
}
.header form label{
    line-height: 55px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 15%;
}
.a{
    width: 55%;
    height: 32px;
    vertical-align: middle;
    border-radius: 5px;
    padding-left: 5px;
     margin-top: 2%;
}
.b{
    width: 80px;
    height:30px;
    border:2px solid #ccc;
    color: #666;
    margin:60px 0 0 40%;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}
.b:hover{
    border:2px solid #ddd;
    background:Linear-gradient(#fff,#ccc);
    color: #000;
}









