*{margin:0;padding: 0;list-style: none;text-decoration: none;box-sizing:border-box;}
img{cursor: pointer;}
.wrap{
    width: 950px;
    height: auto;
    margin:0 auto;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 140px;
    background: url(../images/bg-0.jpg) repeat-x;
    box-shadow: 0 1px 4px #999; 
}
.bg{
  height: 140px;
  background-image: url(../images/b.jpg);
  position: relative;
}
.nav{
  width: 100%;
  height: 24px;
  position: absolute;
  bottom:8px;
}
.ul0{
  width: 100%;
  height: 24px;
}
.ul0 li{
  float: left;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
  font-family: "微软雅黑";
  margin-right: 8%;
}
.ul0 li a{
  color: #014d80;}
.ul0 li a:hover{color: rgb(2,130,56);}
.pic{
    margin-top:5px;
    width: 100%;
    height: 277px;
    background-color: #eee;
}
.pos{
    position: relative;
    width: 950px;
    height: 274px;
    margin:0 auto;
    overflow: hidden;
   }
#list li{
   position: absolute;
   top: 0;
   left: 0;
   display: none;
   overflow: hidden;
}
#list li img{
  width: 100%;
  height: 274px;
}
#banner-list{
  width: 380px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
}
#banner-list a{
  display: inline-block;
  width: 48px;
  height: 3px;
  border: 1px solid rgb(167,219,255);
  margin-left: 25px;
}
.active{
  background-color: rgb(107,124,255);
}
.box{width: 100%;
     height: 21px;
     border-bottom: 1px dotted #eee;
     position: relative;
}
.lis table{
  border-bottom: 1px dotted #0067ac;
}
.info-box{
  height: 255px;
}
.info1{
  width: 100%;
  height: 230px;
  margin-top: 15px;
}
.box1{
  width: 308px;
  height: 228;
  border:1px dotted #ccc;
  float: left;
  margin-left: 10px;
}
.info-title{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  background-image:url(images/bg-2.jpg);
  padding:0 5px;
}
.info-text{
  width: 100%;
  height: 189px; 
  background-color: #fff;
  padding-top: 10px;
}
.info-title span,.info-title a{
   font-weight: bold;
   color: #014d80
}
.info-title a:hover{color: rgb(2,130,56)}
.title-txt{
  width: 100%;
  height: 25px;
  line-height: 25px;
  float: left;
  color: #7d7d7d;
  font-size: 14px;
  overflow: hidden;
  display: block;
  margin-top:4px;
}
.title-txt .titie-b{
  float: left;
  height: 25px;
  width: 230px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;

}
.titie-b a{color: #7d7d7d}
.titie-b a:hover{color:rgb(2,130,56)}
.title-txt .titie-w{
  float: lift;
  line-height: 25px;
}
.footer-top{
  height: 82px;
  background-color: rgb(134,186,258);
  border-radius: 15px;
}
.foot-l{
  height: 82px;
  width: 235px;
  float: left;
}
.foot-m{
  height: 82px;
  width: 920px;
  border:1px dotted #ccc;
  background-color: #fff;
  border-radius:15px;
}
.center{
  width:400px;
  height: 48px;
  margin-left: 235px;
  margin-top: 20px;
}
.center span{
  font-size: 14px;
  color: #014d80;
  line-height: 24px;
  text-align: left;
}
.foot{
  width: 100%;
  height: 180px;
  margin:0 auto;
  margin-top: 20px;
  border-top:2px solid #0067ac;
}
.f-l{
  width: auto;
  height: auto;
  float: left;
  padding-top: 35px;
  margin-left: 10%;
}
.f-l p{
  color: #999;
  font-size: 14px;
  padding-top: 15px;
  line-height: 20px;
}

