
.text{
	width: 90%;
	height: 55px;
	line-height: 55px;
    color: #1b90e0;
    font-size: 28px;
    font-weight: bold;
    padding-left: 50px;
    text-align: left;
    margin-top:20px;
} 
.notice{
	margin-top:2%;
	margin-left:16%;
	width: 1000px;
	font-size: 20px;
	font-family: 宋体;
}
 .text span{
   float:right;
 }
 .text span a,.text span i{
   font-size:14px;
   text-decoration:none;
   color:#999;
 }
.content{
	width: 25%;
	height: 110px;
	/*background:red;*/
	margin: 20px 30px;
	float: left;
	display: inline-block;
	/*border:1px solid #666;*/
}
.content a{
	text-decoration: none;
     color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top:10px;

}
.bot{
	margin-top: 23px; 
}
.content img{
	width: 10px;
	height: 10px;
	margin-right:10px;
	margin-left:20px; 
}
