*{
    margin:0;
    padding: 0;
}
.back{
	 margin-top:2%;
	 margin-left:10%;
	 width: 100px;
}
.wall{
    height: auto;
    width: 70%;
    margin:0 auto;
    margin-top:	2%;
}
.right{
    height: 50px;
/*   	top:200px; */
}
.rightform{
	width:260px;
    height: 50px;
  	margin-left:64%;
}
.btn{
    width: 60px;
    height: 30px;
    border-radius: 3px;
    color: #000;
    vertical-align: middle;
}
.right input[type="text"]{
    height: 30px;
    width:190px;
    vertical-align: middle;}
table{
    width: 100%;
    height:100px;
    border-color: #ccc;
}
table th{
    height: 45px;
    background-color: #eee;
    text-align: center;
}
table td{
    height: 40px;
    text-align: center;
}
textarea{
    height: 99%;
    width: 99%;
   border: 0;
}
.page{
    margin:15% 0 0 38%;
}

