*{margin:0;padding: 0;text-decoration: none;box-sizing:border-box;}
i{font-style: normal;}
.top{
    width: 45%;
    height: auto;
    margin: 0 auto;
/*     margin-top: 1% */
}
.top-l{
    width: 100%;
    height: 35px;
/*     margin-left: */
    margin-bottom: 40px;
}
.top-l span{
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
     padding-left:40px;
     padding-right: 10px;
}
.top-m{
    width: 100%;
    height: 230px;
    position: relative;
}
.top-m p{
    float: left;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
}
.back{
	 margin-top:2%;
	 margin-left:10%;
	 width: 100px;
}
.aa{
    width: 500px;
    height: 220px;
    border: 2px dotted #ccc;
   vertical-align: middle;
   float: left;
   margin-left: 10px;
}
#time{
	margin-top:2%;
	margin-left:60%;
	font-size:14px;
	color:gray;
/*     position: absolute; */
    right:25px;
    bottom: 10px;
}