*{margin:0;padding: 0;list-style: none;box-sizing:border-box;}
.wall{
    width:40%;
    height: auto;
    margin:0 auto;
    margin-top: 8%;
}
.list{
   width:100%;
   height:auto;
   margin: 0 auto;
}
.list ul{
    width: 100%;
    height: 30px;

}
.list li,.list span{
    float: left;
    line-height: 30px;
    font-weight: bold;
    padding: 5px 5px;
    margin-right: 5px;
    position: relative;
    border-radius:3px; 
   
}
.list li{ background-color: #eee;}
.hide-box{
    width:90%;
    height: 100px;
    margin:0 auto;
    position: absolute;
    border: 2px solid #ccc;
    background-color: #fff;
    display: none;
    top: 41px;
    border-radius:5px; 
    box-shadow: 0 0 10px rgba(0,0,0,.2)
}
.hide-box a{
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
}
.list li:hover{background-color: #eee}
.list li:hover .hide-box{display: block;}
table{
    width: 100%; 
    text-align: center; 
    margin-top: 50px;  
}
table th{
    font-size: 20px;
    height: 50px;
    text-align: center;
    background-color: #eee;
}
table td{
    height: 45px;
}
.page{
    margin:15% 0 0 35%;
}








