table{
    margin:0;
    padding: 0;
    width: 40%;
    margin:0 auto;
    border-color: #ccc;
    margin-top: 10%;
}
caption{
    font-size: 24px;
    font-weight: bold;
    padding-bottom:30px;
}
table th{
    text-align: center;
    height: 48px;
    background-color: #eee;
}
table td{
    text-align: center;
    height: 45px;
}